// colors

$color-1: #2b3e51; // Pickled Bluewood
$color-2: #2c97de; // Curious Blue
$color-3: #ffffff; // White
$color-4: #ecf0f1; // Porcelain
$color-5: #e94b35; // Cinnabar

// fonts

$primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
